<style>
    .btn-info {
        width: 12%;
        font-size: 10px;
        padding: 0px;
    }

    .images {
        padding-top: 20px;
    }
    .btn-danger {
        width: 25%;
    }

    .myBtn {
        padding-left: 0px;
        padding-top: 50px;
        padding-bottom: 50px;
    }
</style>
<div class="images">
    <a href="#" class="btn btn-info btn-lg">
        <span class="glyphicon glyphicon-thumbs-up"></span> Like
    </a>
    <a href="#" class="btn btn-info btn-lg">
        <span class="glyphicon glyphicon-thumbs-down"></span> Unlike
    </a>
</div>
<!-- *ngIf='Quote.showDetails' [Quote]='Quote' (isExpired)='deleteQuote($event,i)' -->
<div class="myBtn">
    <button class="btn btn-danger" (click)='QuoteDelete(true)'>Delete Quote</button>
</div>